.advantages {
    max-height: 473px;
    background: #F6F6F6;
    padding: 70px 0 65px 0;
    &__title {
        font-weight: 700;
        font-size: 30px;
        color: #0D0D0D;
        display: flex;
        justify-content: center;
    }
    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        min-width: 272px;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    &__subtitle {
        font-weight: 700;
        text-align: center;
        font-size: 18px;
        color: #0D0D0D;
        margin-top: 35px;
    }
    &__descr {
        max-width: 277px;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: #0D0D0D;
        margin-top: 20px;
        span {
            font-size: 14px;
            text-decoration-line: underline;
            color: #FF0000;
        }
    }
}